@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

@media (min-width: 300px) {
    *{
        overflow: hidden;
      }
        nav{
            display: flex;
            justify-content: space-around;
            height: 70px;
            line-height: 50px;
            background-color: aqua;
            width: 100%;
            
            margin: auto;
           
        }
    
          .navItens{
            display: flex;
            }
            .navItens li{
                list-style: none;
                margin: 0 15px;
            }
            .navItens li a {
                font-size: 10px;
                color: #3d535f;
                letter-spacing: 1px;
                text-decoration: none;
                text-transform: capitalize;
            }
            .logo{
                display: flex;
                font-size: 10px;
                font-weight: 800;
                color: #3d535f;
                letter-spacing: 3px;
                cursor: pointer;
                text-transform: uppercase;
            }
            .navItens li:hover a,
        .links a{
            color: aqua
        }
        .links a{
        font-size: 15px;
        color: #3d535f;
        margin: 10px 10px;
        }
        p{
            display: block;
            width: 90%;
            font-size: 1em;
            color: #3d535f;
        }
        .btns{
            width: 80%;
            position: relative;
            left: 10px;
        }
        button{
            outline: none;
            border: none;
            cursor: pointer;
            font-size: 25px;
            font-weight: 400;
            color: #fff;
            background-color: #3d535f;
            padding: 8px 14px;
            margin: 40px 5px;
            letter-spacing: 2px;
            text-transform: capitalize;
            box-shadow: 0 15px 10px rgba(0,0,0,0.4);  
        }
        .buttonlink{
            outline: none;
            border: none;
            cursor: pointer;
            font-size: 25px;
            font-weight: 400;
            color: #fff;
            background-color: #3d535f;
            padding: 8px 14px;
            margin: 40px 5px;
            letter-spacing: 2px;
            text-transform: capitalize;
            box-shadow: 0 15px 10px rgba(0,0,0,0.4); 
            text-decoration:none
        
        }
        .buttonlink:hover{
            background-color: aqua;
        }
        button:hover{
            background-color: aqua;
        }
        .imgbox{
            position: relative;
            width: 60%;
            height: 70%;
            
        }
        .imgbox img{
            position: relative;
            
            width:200px;
            right: 70px;
            transform: rotateY(180deg);
            animation: animateUser 10s linear infinite;
        }
        @keyframes animateUser{
            20%{
                right: -10px;
                top: 20px;
            }
        }
        .imgbox #splash{
            position: absolute;
            top: -30%;
            left: 50%;
            transform: translate(-50%, 50%) rotate(-35deg);
            width: 70%;
            filter: saturate(100%);
            animation: animate 12s linear infinite;
        }
        .multiText{
            color: aqua;
            text-transform: capitalize;
        }
        .topline{
            display: block;
            position: relative;
            font-size: 35px;
            letter-spacing: 5px;
            color: #3d535f;
        }
        
    }


@media  (min-width: 768px) {
  *{
    overflow: hidden;
  }
    nav{
        display: flex;
        justify-content: space-around;
        height: 70px;
        line-height: 50px;
        background-color: aqua;
        width: 100%;
        
        margin: auto;
       
    }

      .navItens{
        display: flex;
        }
        .navItens li{
            list-style: none;
            margin: 0 15px;
        }
        .navItens li a {
            font-size: 15px;
            color: #3d535f;
            letter-spacing: 1px;
            text-decoration: none;
            text-transform: capitalize;
        }
        .logo{
            display: flex;
            font-size: 20px;
            font-weight: 800;
            color: #3d535f;
            letter-spacing: 3px;
            cursor: pointer;
            text-transform: uppercase;
        }
        .navItens li:hover a,
    .links a{
        color: aqua
    }
    .links a{
    font-size: 15px;
    color: #3d535f;
    margin: 10px 10px;
    }
    p{
        display: block;
        width: 90%;
        font-size: 1.2em;
        color: #3d535f;
    }
    .btns{
        width: 100%;
        position: relative;
        left: 150px;
    }
    button{
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 25px;
        font-weight: 400;
        color: #fff;
        background-color: #3d535f;
        padding: 8px 14px;
        margin: 40px 5px;
        letter-spacing: 2px;
        text-transform: capitalize;
        box-shadow: 0 15px 10px rgba(0,0,0,0.4);  
    }
    .buttonlink{
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 25px;
        font-weight: 400;
        color: #fff;
        background-color: #3d535f;
        padding: 8px 14px;
        margin: 40px 5px;
        letter-spacing: 2px;
        text-transform: capitalize;
        box-shadow: 0 15px 10px rgba(0,0,0,0.4); 
        text-decoration:none
    
    }
    .buttonlink:hover{
        background-color: aqua;
    }
    button:hover{
        background-color: aqua;
    }
    .imgbox{
        position: relative;
        width: 50%;
        height: 100%;
        
    }
    .imgbox img{
        position: relative;
        height: 50%;
        width: calc(100% - 80px);
        top: -100px;
        right: 50px;
        transform: rotateY(180deg);
        animation: animateUser 4s linear infinite;
    }
    @keyframes animateUser{
        50%{
            right: 10px;
            top: -10px;
        }
    }
    .imgbox #splash{
        position: absolute;
        top: -30%;
        left: 50%;
        transform: translate(-50%, 50%) rotate(-35deg);
        width: 130%;
        filter: saturate(100%);
        animation: animate 12s linear infinite;
    }
    .multiText{
        color: aqua;
        text-transform: capitalize;
    }
    .topline{
        display: block;
        position: relative;
        font-size: 35px;
        letter-spacing: 5px;
        color: #3d535f;
    }
    
}

@media (min-width: 1200px) {
    body {
        overflow: hidden; 
      }
      .container{
          width: 100%;
          min-height: 100vh;
          background-color: #f3f5f8;
      }
      nav{
          display: flex;
          width: 100%;
          justify-content: space-around;
          height: 80px;
          line-height: 80px;
          z-index: 111;
          background-color: aqua;
          
      }
      .logo{
          display: flex;
          font-size: 40px;
          font-weight: 800;
          color: #3d535f;
          letter-spacing: 3px;
          cursor: pointer;
          text-transform: uppercase;
      }
      b{
      font-size: 70px;
      color: aqua
      }
      .navItens{
      display: flex;
      }
      .navItens li{
          list-style: none;
          margin: 0 15px;
      }
      .navItens li a {
          font-size: 25px;
          color: #3d535f;
          letter-spacing: 3px;
          text-decoration: none;
          text-transform: capitalize;
      }
      .navItens li:hover a,
      .links a{
          color: aqua
      }
      .links a{
      font-size: 30px;
      color: #3d535f;
      margin: 25px 10px;
      }
      .wrapper{
          display: flex;
          width: 100%;
          height: calc(100vh - 80px);
          justify-content: center;
          align-items: center;
          padding: 0 10%;
          overflow: hidden;
      }
      .wrapper::before{
          position: absolute;
          content: '';
          height: 600px;
          width: 600px;
          border-radius: 50%;
          left: -12%;
          top: 40%;
          background:linear-gradient(45deg, aqua,rgb(148, 148, 241));
          animation: object1 6s linear infinite;
      }
      .wrapper::after{
          position: absolute;
          content: '';
          height: 200px;
          width: 200px;
          border-radius: 50%;
          left: 35%;
          top: 12%;
          background:linear-gradient(45deg, aqua,rgb(148, 148, 241));
          animation: object2 6s linear infinite;
      }
      @keyframes object1{
          50%{
              left: -13%;
              top:41%;
          }
      }
      @keyframes object2{
          50%{
              left: 35%;
              top:10%;
          }
      }
      .cols{
          width: 50%;
      }
      .cols0{
          width: 60%;
          z-index: 5;
      
      }
      .topline{
          display: block;
          position: relative;
          font-size: 35px;
          letter-spacing: 5px;
          color: #3d535f;
      }
      .topline::after{
      position: absolute;
      content: '';
      height: 4px;
      width: 45px;
      bottom:10px;
      color: aqua;
      }
      h1{
          display: block;
          font-size: 4em;
          font-weight: 900;
          color: #3d535f;
      }
      .multiText{
          color: aqua;
          text-transform: capitalize;
      }
      p{
          display: block;
          width: 90%;
          font-size: 1.2em;
          color: #3d535f;
      }
      .btns{
          width: 100%;
          position: relative;
          left: 150px;
      }
      button{
          outline: none;
          border: none;
          cursor: pointer;
          font-size: 25px;
          font-weight: 400;
          color: #fff;
          background-color: #3d535f;
          padding: 8px 14px;
          margin: 40px 5px;
          letter-spacing: 2px;
          text-transform: capitalize;
          box-shadow: 0 15px 10px rgba(0,0,0,0.4);  
      }
      .buttonlink{
          outline: none;
          border: none;
          cursor: pointer;
          font-size: 25px;
          font-weight: 400;
          color: #fff;
          background-color: #3d535f;
          padding: 8px 14px;
          margin: 40px 5px;
          letter-spacing: 2px;
          text-transform: capitalize;
          box-shadow: 0 15px 10px rgba(0,0,0,0.4); 
          text-decoration:none
      
      }
      .buttonlink:hover{
          background-color: aqua;
      }
      button:hover{
          background-color: aqua;
      }
      .imgbox{
          position: relative;
          width: 50%;
          height: 100%;
          
      }
      .imgbox img{
          position: relative;
          height: 100%;
          width: calc(130% - 80px);
          top: -100px;
          right: 50px;
          transform: rotateY(180deg);
          animation: animateUser 4s linear infinite;
      }
      @keyframes animateUser{
          50%{
              right: 30px;
              top: -90px;
          }
      }
      .imgbox #splash{
          position: absolute;
          top: -60%;
          left: 50%;
          transform: translate(-50%, 50%) rotate(-35deg);
          width: 200%;
          filter: saturate(200%);
          animation: animate 12s linear infinite;
      }
      
}


  